@model yourlook.Areas.Admin.Models.ProductViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="cp0">
        Sửa Sản Phẩm mới
    </div>
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <a asp-action="SanPham"><img style="height:20px" src="\icon\drop left.svg" /> </a>
                <li class="nav-item"><a class="nav-link active" href="#page1" data-toggle="tab">Thông Tin Chính</a></li>
                <li class="nav-item"><a class="nav-link" href="#page2" data-toggle="tab">Thông Tin Ảnh</a></li>
                <li class="nav-item"><a class="nav-link" href="#page3" data-toggle="tab">Thông Tin Khác</a></li>
            </ul>
        </div><!-- /.card-header -->
        @using (Html.BeginForm("SuaSanPham", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="hidden" asp-for="MaSp" />
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="page1">
                        <div class="row">
                            <div class="col-6">
                                <label class="control-label">Danh Mục</label>
                                <select asp-for="MaDm" class="form-control" asp-items="ViewBag.MaDm">
                                    <option value="">--- Chọn Danh Mục ---</option>
                                </select>
                                <span asp-validation-for="MaDm" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label asp-for="TenSp" class="control-label">Tên Sản Phẩm</label>
                                <input asp-for="TenSp" type="text" placeholder="Tên..." />
                                @Html.ValidationMessageFor(x => x.TenSp, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6">
                                <label class="control-label">Nhóm</label>
                                <select asp-for="NhomId" class="form-control" asp-items="ViewBag.NhomId"></select>
                            </div>
                            <div class="col-6">
                                <label class="control-label">Số Lượng</label>
                                <input asp-for="SoLuongSp" type="text" placeholder="Số Lượng..." />
                                @Html.ValidationMessageFor(x => x.SoLuongSp, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6">
                                <label asp-for="PriceMax" class="control-label"></label>
                                <input asp-for="PriceMax" id="GiaMax" type="text" placeholder="Giá Max..." class="form-control" oninput="calculateGiaMin()" />
                                @Html.ValidationMessageFor(x => x.PriceMax, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6">
                                <label asp-for="GiamGia" class="control-label"></label>
                                <input asp-for="GiamGia" id="GiamGia" type="text" placeholder="Mức giảm giá..." class="form-control" value="0" oninput="calculateGiaMin()" />
                                @Html.ValidationMessageFor(x => x.GiamGia, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6">
                                <label asp-for="PriceMin" class="control-label"></label>
                                <input asp-for="PriceMin" id="GiaMin" type="text" placeholder="Giá Min..." class="form-control" readonly />
                                @Html.ValidationMessageFor(x => x.PriceMin, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12">
                                <label>Chọn Size:</label>
                                <div style="display:flex">
                                    @foreach (var size in Model.SizeList)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="SelectedSizes" value="@size.SizeId"
                                            @(Model.SelectedSizes.Contains(size.SizeId) ? "checked" : "") />
                                            <label class="form-check-label"for="size-@size.SizeId">@size.NameSize</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <label>Chọn Màu Sắc:</label>
                                <div style="display:flex">
                                    @foreach (var color in Model.ColorList)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="SelectedColors" value="@color.ColorId"
                                            @(Model.SelectedColors.Contains(color.ColorId) ? "checked" : "") />
                                            <label class="form-check-label" style="white-space:nowrap" for="color-@color.ColorId">@color.NameColor</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="control-label">Mô Tả </label>
                                @Html.ValidationMessageFor(x => x.MotaSp, "", new { @class = "text-danger" })
                                <input asp-for="MotaSp" type="text" placeholder="Mô tả sản phẩm..." />
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(x => x.IActive, new { @class = "custom-control-input", @id = "customCheckbox2", @checked = "checked" })
                                            <label for="customCheckbox2" class="custom-control-label">Hiển thị</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(x => x.IHot, new { @class = "custom-control-input", @id = "IsHotCheckbox2" })
                                            <label for="IsHotCheckbox2" class="custom-control-label">Hot</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(x => x.IFeature, new { @class = "custom-control-input", @id = "IsFeatureCheckbox" })
                                            <label for="IsFeatureCheckbox" class="custom-control-label">Nổi bật</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(x => x.ISale, new { @class = "custom-control-input", @id = "IsSaleCheckbox" })
                                            <label for="IsSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane row" id="page2">
                        <div class="row">
                            <div style="color:red;display:flex;align-items:center">Vui lòng chọn ảnh mới để thay thế:</div>
                            <div>
                                @foreach(var prd in Model.Imgs)
                                {
                                    <img style="height:100px" src="@prd.Img" />
                                }
                            </div>
                            <div class="col-12" style="display:flex; justify-content:space-between">
                                <input type="file" id="fileUpload" multiple />
                                <div class="flct col-4">
                                    <button type="button" id="btnUpload" class="btn btn-primary">Tải lên</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered" id="imagesTable">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Ảnh</th>
                                        <th>Url</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Danh sách ảnh sẽ được thêm vào đây -->
                                </tbody>
                            </table>
                            <input type="hidden" id="ddpicId" value="0" />
                            <input type="hidden" id="Imgs" name="Imgs" />
                        </div>
                        <div style="display:flex">
                            <div class="col-5" style="display:flex">
                                <div style="color:red;display:flex;align-items:center">Vui lòng chọn ảnh mới để thay thế:</div>
                                <img style="height:100px" src="@Url.Content("/img/"+Model.AnhSp)" />
                            </div>
                            <div class="col-6">
                                <label class="control-label">Ảnh đại diện</label>
                                <input asp-for="AnhSp" type="file" class="form-control" name="AnhSpFile" />
                                <span asp-validation-for="AnhSp" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @* <div class="tab-pane" id="page3">
                </div> *@
                </div>
            </div>
            <div class="h-cp-dow">
                <div class="bt-ar">
                    <input type="submit" value="Lưu Thông Tin Sản Phẩm" class="btn-primary" />
                </div>
            </div>
        }
        </div>    
    <!-- /.card -->
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#btnUpload').click(function () {
                var files = $('#fileUpload').prop('files');
                var formData = new FormData();

                var picId = parseInt($('#ddpicId').val());
                var imgUrls = [];

                for (var i = 0; i < files.length; i++) {
                    formData.append('files', files[i]);
                }

                $.ajax({
                    url: '@Url.Action("UploadImg", "SanPham")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            response.filePaths.forEach(function (filePath) {
                                picId++;
                                $('#imagesTable tbody').append(
                                    '<tr id="trow_' + picId + '"> <td>' + picId + '</td> <td><img src="' + filePath + '" width="100"></td> <td>' + filePath + '</td> <td><a href="#" data-id="' + picId + '" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td></tr>');
                                imgUrls.push(filePath);
                            });
                            $('#ddpicId').val(picId);
                            $('#Imgs').val(imgUrls.join(';'));
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Lỗi khi tải ảnh lên:', error);
                    }
                });
            });

            // Remove image
            $('body').on('click', '.btnXoaAnh', function () {
                var conf = confirm('Bạn có muốn xóa ảnh này không?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () {
                            $(this).remove();
                            updateImgsInput();
                        });
                    });
                }
            });

            function updateImgsInput() {
                var imgUrls = [];
                $('#imagesTable tbody tr').each(function () {
                    var imgSrc = $(this).find('td:eq(2)').text();
                    imgUrls.push(imgSrc);
                });
                $('#Imgs').val(imgUrls.join(';'));
            }
        });

        function calculateGiaMin() {
            var giaMax = parseFloat(document.getElementById('GiaMax').value) || 0;
            var giamGia = parseFloat(document.getElementById('GiamGia').value) || 0;
            var giaMin = giaMax - (giaMax * giamGia / 100);
            document.getElementById('GiaMin').value = giaMin.toFixed(2); // Giữ lại 2 chữ số thập phân
        }
    </script>
}