@using Data.Models;
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Ads";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model X.PagedList.IPagedList<DbAdd>
<div class="menu-cp">
    <div class="cp0">
        Danh Sách Khách Hàng
    </div>
    <div class="h-cp1">
        <div class="h-cp-f">
            <div class="h-cp-up">
                <div class="bt-c"><a href="#" onclick="openKH()">Tạo khách hàng mới</a></div>
                <div class="bt-c"><a href="">In dữ liệu </a></div>
                <div class="bt-c"><a href="">Xuất Excel</a></div>
                <div class="bt-c"><a href="">Xuất PDF</a></div>
                <div class="bt-c"><a href="">Xóa Tất cả</a></div>
            </div>
            <div style="clear:both;height:1px ;background-color: #c4c4c4;"></div>
            <div class="h-cp-mid">
                <div class="messages">
                    @TempData["Message"]
                </div>
                <div>
                    <input class="form-search" type="text" placeholder="Tìm Kiếm Mã Khách Hàng/ Tên Khách Hàng . . .">
                </div>
                <table class="h-table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên </th>
                            <th>Ảnh</th>
                            <th>Url</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var prd in Model)
                            {

                                <tr>
                                    <td>@prd.Id</td>
                                    <td>@prd.Name</td>
                                    <td>@prd.Img</td>
                                    <td>@prd.Url</td>
                                    <td>@prd.IsActive</td>
                                    <td>
                                        <a href="@Url.Action("XoaKhachHang", new { makh = prd.Id})" onclick="deletekh(event)" style="color: #000;">Xóa</a>
                                        @* <a asp-action="suakhachhang" asp-route-makh="@prd.MaKh" style="color: black;">Sửa</a> *@
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">trống</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>