@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using yourlook.Models;
@model ViewCheckOutItem
@{
    var TongTien = Model.CheckOutItems.Sum(X => X.Total).ToString("N0") + "VND";
    var TongSanPham = Model.CheckOutItems.Sum(Y => Y.ProductQuantity).ToString();
}
<main class="cart cart-order" style="margin-bottom:150px">
    <div class="breadcrumbs d-flex flex-row align-items-center mg" style="margin-bottom:0;">
        <ul>
            <li>
                <a href="@Url.Action("Index","ShoppingCart")">
                    <i class="fa-solid fa-angle-left fa-xl" style="color: #000000"></i>Giỏ Hàng
                </a>
            </li>
            <li class="active"><a><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh Toán</a></li>
        </ul>
    </div>
    <div class="body-cart-order" style="position:relative">
        <div class="address-cart" style="">
            <div class="bdrdu">
                <div style="max-height:500px;overflow-y:auto;scrollbar-width:none">
                    <table class="table table-1">
                        <thead>
                            <tr>
                                <th class="nw">Ảnh Sản Phẩm</th>
                                <th class="nw">Tên Sản Phẩm</th>
                                <th class="nw">Phân loại</th>
                                <th class="nw">Số lượng</th>
                                <th>Giá</th>
                                <th class="nw">Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach(var prd in Model.CheckOutItems){
                                <tr>
                                    <td class="box-img"><img src="@Url.Content("../img/"+prd.ProductImg)" /></td>
                                    <td >@prd.ProductName</td>
                                    <td class="nw">@prd.ColorName - @prd.SizeName</td>
                                    <td class="nw">@prd.ProductQuantity</td>
                                    <td class="nw">@prd.ProductPrice.ToString("N0") VNĐ</td>
                                    <td class="nw">@prd.Total.ToString("N0") VNĐ</td>
                                </tr>
                            }       
                        </tbody>
                    </table>
                    <table class="table table-2">
                        <thead>
                            <tr>
                                <th class="nw" colspan="2">Thông tin Sản phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prd in Model.CheckOutItems)
                            {
                                <tr>
                                    <td class="box-img"><img src="@Url.Content("../img/"+prd.ProductImg)" /></td>
                                    <td>
                                        <div class="cart-name">@prd.ProductName</div>
                                        <div>Phân loại :@prd.ColorName - @prd.SizeName</div>
                                        <p> @prd.ProductPrice.ToString("N0") VNĐ  x @prd.ProductQuantity</p>
                                        <div>Tổng: @prd.Total.ToString("N0") VNĐ</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div style="display:flex;justify-content:flex-end">
                    <div class="flex2-cart flex-cart">
                        <h5 style="margin:0 10px">Tổng Sản Phẩm:</h5>
                        <div style="margin:0">@TongSanPham</div>
                    </div>
                    <div class="flex2-cart flex-cart">
                        <h5 style="margin:0 10px">Tổng Thanh Toán:</h5>
                        <p style="margin:0;color:#000;font-weight:600">@TongTien</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-cart">
            <div class="flct box-cart">
                <h4>Hình thức thanh toán:</h4>
                <div class="flct">@Model.PayName</div>
            </div>
            <div class="box-cart">
                <h4>Thông tin địa chỉ:</h4>
               <div class="flct">
                    <div class="mg">Tên người nhận:</div>
                    <div>@Model.TenKh </div>
               </div>
               <div class="flct">
                    <div class="mg">Số điện thoại:</div>
                    <div>@Model.Sdt</div>
               </div>
               <div class="flct">
                    <div class="mg nw">Địa chỉ:</div>
                    <div class="mg">@Model.Ward - @Model.District - @Model.City</div>
                    <h5 class="mg">(@Model.DiaChi)</h5>
               </div>
                <h5>Ghi chú:</h5>
                <div class="mg">@Model.GhiChu</div>
            </div>

        </div>
        <div class="box-pay-all all-choose">
            <div class="box-cart">
                <div class="flct" style="height:50px;justify-content:flex-end">
                    <div class="price-choose" style="justify-content:flex-end">
                        <div class="flex-cart title total-price-container fl-center">
                            Thành Tiền: <div class="flct product_price" style="color:#000;margin:0 10px">@TongTien</div>
                        </div>
                        <div>
                            <button class="checkout-btn">Đặt Hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section styles {
    <style>
        .body-cart .order-cart, .body-cart-order .address-cart {
            padding: 0;
        }
        .footer {
            display: none;
        }
        .super_container {
            background-color:#fff;
        }

    </style>
}
<script src="../js/btnquantity.js"></script>