@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using yourlook.Models;
@model ViewCheckOutItem
@{
    var TongTien = Model.CheckOutItems.Sum(X => X.Total).ToString("N0") + "VNĐ";
    var TongSanPham = Model.CheckOutItems.Sum(Y => Y.ProductQuantity).ToString();
}
<main class="mar150_container cart cart-order" style="margin-bottom:150px">
    <div class="breadcrumbs d-flex flex-row align-items-center mg" style="margin-bottom:0;">
        <ul>
            <li>
                <a href="@Url.Action("Index","ShoppingCart")">
                    <i class="fa-solid fa-angle-left fa-xl" style="color: #000000"></i>Giỏ Hàng
                </a>
            </li>
            <li class="active"><a><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh Toán</a></li>
        </ul>
    </div>
    <div class="body-cart" style="position:relative">   
        <div class="address-cart" style="">
            <div class="box-cart">
                <div style="max-height:500px;overflow-y:auto;scrollbar-width:none">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="nw">Ảnh Sản Phẩm</th>
                                <th class="nw">Tên Sản Phẩm</th>
                                <th class="nw">Phân loại</th>
                                <th class="nw">Số lượng</th>
                                <th>Giá</th>
                                <th class="nw">Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach(var prd in Model.CheckOutItems){
                                <tr>
                                    <td class="box-img"><img src="@Url.Content("../img/"+prd.ProductImg)" /></td>
                                    <td >@prd.ProductName</td>
                                    <td class="nw">@prd.ColorName - @prd.SizeName</td>
                                    <td class="nw">@prd.ProductQuantity</td>
                                    <td class="nw">@prd.ProductPrice.ToString("N0") VNĐ</td>
                                    <td class="nw">@prd.Total.ToString("N0") VNĐ</td>
                                </tr>
                            }       
                        </tbody>
                    </table>
                </div>
                <div style="display:flex;justify-content:flex-end">
                    <div class="flex2-cart flex-cart">
                        <h5 style="margin:0 10px">Tổng Sản Phẩm:</h5>
                        <p style="margin:0">@TongSanPham</p>
                    </div>
                    <div class="flex2-cart flex-cart">
                        <h5 style="margin:0 10px">Tổng Thanh Toán:</h5>
                        <p style="margin:0">@TongTien</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-cart">
            <div class="flct box-cart">
                <h4>Hình thức thanh toán:</h4>
                <p class="flct">@Model.PayName</p>
            </div>
            <div class="box-cart">
                <h4>Thông tin địa chỉ:</h4>
               <div class="flct">
                    <p class="mg">Tên người nhận:</p>
                    <div>@Model.TenKh </div>
               </div>
               <div class="flct">
                    <p class="mg">Số điện thoại:</p>
                    <div>@Model.Sdt</div>
               </div>
               <div class="flct">
                    <p class="mg nw">Địa chỉ:</p>
                    <div class="mg">@Model.Ward - @Model.District - @Model.City</div>
                    <h5 class="mg">(@Model.DiaChi)</h5>
               </div>
                <h5>Ghi chú:</h5>
                <div class="mg">@Model.GhiChu</div>
            </div>

        </div>
        <div class="box-pay-all">
            <div class="box-cart">
                <div style="display:flex;align-items:center;height:50px">
                    <div class="tipe-choose">
                        <div class="infor-payment flct bdrdu">
                            <p>Thanh Toán:</p>
                            <div class="fljct bdrdu">
                                <img src="#" alt="" style="height:25px">
                                <div class="flscr">@Model.PayName</div>
                            </div>
                        </div>
                        <div class="infor-payment bdrdu">voucher</div>
                    </div>
                    <div style="display:flex;width:50%;justify-content:flex-end">
                        <div class=" flex2-cart">
                            <div class="flex-cart title total-price-container">
                                Thành Tiền: <div class="flct product_price" style="color:#fff;margin:0 10px">@TongTien</div>
                            </div>
                            <div></div>
                        </div>
                        <div style="width:30%">
                            <button class="checkout-btn">Đặt Hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section styles {
    <style>
        .footer {
            display: none;
        }

        .super_container {
            background-color:#fff;
        }
    </style>
}
<script src="../js/btnquantity.js"></script>