@* @model IEnumerable<yourlook.Models.ShoppingCartItem>

@if (Model != null && Model.Any())
{
    foreach (var prd in Model)
    {
        <div class="box-cart" id="sp-@prd.ProductId">
            <div class="cart-container flex-cart">
                <div class="check-box">
                    <input type="checkbox" class="cart-checkbox" data-id="@prd.ProductId" data-price="@prd.ProductPrice" data-total="@prd.Total" />
                </div>
                <div class="flex-cart">
                    <div class="box-img" style="display:flex; align-items:center">
                        <img src="@Url.Content("/img/" + prd.ProductImg)" alt="Product Image" />
                    </div>
                    <div class="cart-infor">
                        <div class="infor-colum">
                            <p class="cart-name">@prd.ProductName</p>
                            <div class="flex-cart" style="max-width:150px">
                                <div>Màu</div>
                                <div>Size</div>
                            </div>
                        </div>
                        <div class="flex-cart infor-colum">
                            <div class="flct product_price" data-price="@prd.ProductPrice">
                                @prd.Total.ToString("N0") VNĐ
                            </div>
                            <div>
                                <div class="quantity_selector_cart">
                                    <span class="minus-cart" data-id="@prd.ProductId"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    <span class="quantity_value-cart" id="quantity_@prd.ProductId">@prd.ProductQuantity</span>
                                    <span class="plus-cart" data-id="@prd.ProductId"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="check-box">
                    <div>
                        <input type="button" class="deletebtn" value="xóa" asp-controller="shoppingcart" data-id="@prd.ProductId" />
                        @*  <input type="button" class="btnUpdate" value="cập nhật" asp-controller="shoppingcart" data-id="@prd.ProductId" /> *@
                   @*  </div> 
                </div>
            </div>
        </div>
    }
}
else
{
    <p style="display:flex;justify-content:center">giỏ hàng trống</p>
} *@