@model Data.Models.DbDanhMuc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TaoDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="menu-cp">
    <div class="cp0">
        Thêm / Tạo Danh Mục mới
    </div>
    <div class="h-cp1">
        <div class="h-cp-up">
            <div style="display:flex;align-items:center;padding-top:15px">
                <a asp-action="DanhMuc"><img style="height:20px" src="\icon\drop left.svg" /> </a>
            </div>
        </div>
        @using (Html.BeginForm("TaoDanhMuc", "DanhMuc", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="h-cp-mid-1">
                <div class="mid-c">
                    <label class="control-label">Tên danh Mục</label>
                    @Html.TextBoxFor(x => x.TenDm, new { @class = "form-control", @placeholder = "Tên danh mục" })
                    @Html.ValidationMessageFor(x => x.TenDm, null, new { @class = "text-danger" })                    
                </div>
                <div class="mid-c">
                    <label class="control-label">Ảnh</label>
                    <input type="file" asp-for="AnhDaiDien" class="form-control" />
                    <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                </div>
                <div class="mid-c">
                    <label class="control-label">Thứ tự</label>
                    @Html.TextBoxFor(x => x.ThuTu, new { @class = "form-control", @Value = "1" })
                </div>
            </div>
            <div class="h-cp-dow">
                <div class="bt-ar">
                    <input type="submit" value="Tạo Danh Mục" class=" btn-primary" />
                </div>
            </div>
        }       
    </div>
</div>
