@using Data.Models
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "ProductCategory";
    Layout = "~/Views/Shared/_LayoutCate.cshtml";
}
@model X.PagedList.IPagedList<DbSanPham>

<div class="product-grid">
    @if (Model !=null && Model.Any())
    {
        @foreach (var prd in Model)
        {
            <div class="product-item ">
                @if (prd.GiamGia > 0)
                {
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@prd.GiamGia%</span></div>
                }
                else
                {
                    <div></div>
                }
                <div class="product discount product_filter">
                    <div class="product_image">
                        <a asp-controller="Home" asp-action="ProductDetail" asp-route-masp="@prd.MaSp"><img src="@Url.Content("/img/"+prd.AnhSp)" alt=""></a>
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_info">
                        <h6 class="product_name">
                            <a asp-controller="Home" asp-action="ProductDetail" asp-route-masp="@prd.MaSp">@prd.TenSp</a>
                        </h6>
                        @if (prd.GiamGia > 0)
                        {
                            <div class="product_price">@string.Format("{0:N0}", prd.PriceMin)<span>@string.Format("{0:N0}", prd.PriceMax)</span></div>
                            <div style="display:none;" class="in_product_price"> @prd.PriceMin</div>
                        }
                        else
                        {
                            <div class="product_price">@string.Format("{0:N0}", prd.PriceMax)</div>
                            <div style="display:none;" class="in_product_price"> @prd.PriceMax</div>
                        }
                    </div>
                </div>
                <div class="red_button add_to_cart_button">
                    <a class="btnAddToCart" data-id="@prd.MaSp" asp-action="Add" asp-controller="ShoppingCart" asp-route-Id="@prd.MaSp">Thêm Vào Giỏ Hàng</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="product-item ">
            <p>không tìm thấy sản phẩm nào</p>
        </div>
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("KeyWord", "Home", new { page = page }))